<section id="feature" class="transparent-bg">
        
			<div class="container">
    <hr>
      <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">Add New Forum</button>
    <h2>All Forums</h2>
    <span class="clearfix"></span>
    </hr>
    <hr>
    </hr>
    <table class="table table-striped">
    <thead>
      <tr>
  
        <th>forumId</th>
        <th>name</th>
        <th>topic</th>
         <th>content</th>
          <th>userID</th>
          <th>dateOfCreation</th>
          <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="forum in forums">
       <td>{{forum.forumId}}</td>
        <td>{{forum.name}}</td>
        <td>{{forum.topic}}</td>
        <td>{{forum.content}}</td>
        <td>{{forum.usersID}}</td>
         <td>{{forum.dateOfCreation}}</td>
       
         <td><button type="button" class="btn btn-danger btn-sm " data-toggle="modal" data-target="#deleteforum" ng-click="editForum(forum)">Delete </button></td>  
             </tr>
       </tbody>
  </table>
  
  
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Forum</h4>
        </div>
        <div class="modal-body">
        
        
         <form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" for="forumId">forumId:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="forumId" placeholder="Enter forumId" ng-model="forumId">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">name:</label>
    <div class="col-sm-10"> 
      <textarea class="form-control" id="name" placeholder="Enter name" ng-model="name"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="topic">topic:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="topic" placeholder="Enter topic" ng-model="topic">
    </div>
  </div>
  
  
    <div class="form-group">
    <label class="control-label col-sm-2" for="content">content: </label>
    <div class="col-sm-10"> 
    <input type="text" class="form-control" name="content" placeholder="content" required="" autofocus=""  ng-model="content"/>
   </div>
  </div>
  
  
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg" ng-click="addForum()" data-dismiss="modal">Post</button>
    </div>
  </div>
</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="editforum" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Forum</h4>
        </div>
        <div class="modal-body">
         <form class="form-horizontal">
         <div class="form-group">
    <label class="control-label col-sm-2" for="forumId">forumId:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="forumId" ng-model="forumDataToEdit.forumId">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" ng-model="forumDataToEdit.name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="topic">topic:</label>
    <div class="col-sm-10"> 
      <textarea class="form-control" id="topic" ng-model="forumDataToEdit.topic"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="content">description:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="content" ng-model="forumDataToEdit.content">
    </div>
  </div>
  
  
  
   <div class="form-group">
    <label class="control-label col-sm-2" for="usersID">usersID:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="usersID" ng-model="forumDataToEdit.usersID">
    </div>
  </div>
 
  <div class="form-group">
    <label class="control-label col-sm-2" for="dateOfCreation">dateOfCreation:</label>
    <div class="col-sm-10"> 
      <input type="date" class="form-control" id="dateOfCreation" ng-model="forumDataToEdit.dateOfCreation">
    </div>
  </div>
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg" ng-click="saveEdit()" data-dismiss="modal">Save Edit</button>
    </div>
  </div>
</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="deleteforum" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Forum</h4>
        </div>
        <div class="modal-body">
         <strong >You are about to delete {{forumDataToEdit.forumId}} the forum Are you sure?</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteForum(forumDataToEdit)">Yes</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
      
    </div>
  </div>
    </div>
    </section>