<section id="feature" class="transparent-bg">
        
			<div class="container">
 
    <hr>
    <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">Add New Blog</button>
    <h2>All Blogs</h2>
    <span class="clearfix"></span>
    </hr>
    <hr>
    </hr>
    <table class="table table-striped">
    <thead>
      <tr>
      <th>blog id</th>
        <th>Title</th>
        <th>Content</th>
        <th>Date</th>
         <th>PostedBy</th>
          <th>category</th>
          <th>Edit</th>
          <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="blog in blogs">
      <td>{{blog.blogId}}</td>
        <td>{{blog.title}}</td>
        <td>{{blog.content}}</td>
        <td>{{blog.dateOfCreation}}</td>
        <td>{{blog.usersID}}</td>
         <td>{{blog.category}}</td>
        <td><button type="button" class="btn btn-primary btn-sm "  data-toggle="modal" data-target="#editblog" ng-click="editBlog(blog)">Edit</button></td>
         <td><button type="button" class="btn btn-danger btn-sm " data-toggle="modal" data-target="#deleteblog" ng-click="editBlog(blog)">Delete</button></td>
      </tr>
       </tbody>
  </table>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Blog</h4>
        </div>
        <div class="modal-body">
         <form class="form-horizontal">
         
               <div class="form-group">
    <label class="control-label col-sm-2" for="blogId">Id:</label>
    <div class="col-sm-10">
    
    <input type="text" class="form-control" id="blogId" placeholder="blogId" required="" autofocus=""  ng-model="blogId"/>
    </div>
  </div>
         
         
         
         
  <div class="form-group">
    <label class="control-label col-sm-2" for="blogTitle">Title:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" placeholder="Enter Title" ng-model="title">
    </div>
  </div>
  
  
   <div class="form-group">
    <label class="control-label col-sm-2" for="blogTitle">dateOfCreation:</label>
    <div class="col-sm-10">
               <input type="date" class="form-control" id="dateOfCreation" placeholder="dateOfCreation" required="" autofocus=""  ng-model="dateOfCreation"/>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="blogDescription">Content:</label>
    <div class="col-sm-10"> 
      <textarea class="form-control" id="content" placeholder="Enter Description" ng-model="content"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="category">Category:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="category" placeholder="Enter category" ng-model="category">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg" ng-click="addBlog()" data-dismiss="modal">Post</button>
    </div>
  </div>
</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="editblog" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Blog</h4>
        </div>
        <div class="modal-body">
         <form class="form-horizontal">
         <div class="form-group">
    <label class="control-label col-sm-2" for="blog_id">Blog_Id</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="blog_id" ng-model="blogDataToEdit.blogId">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="title">Title:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" ng-model="blogDataToEdit.title">
    </div>
  </div>
  
  
   <div class="form-group">
    <label class="control-label col-sm-2" for="blogTitle">dateOfCreation:</label>
    <div class="col-sm-10">
               <input type="date" class="form-control" id="dateOfCreation" placeholder="dateOfCreation" required="" autofocus=""  ng-model="blogDataToEdit.dateOfCreation"/>
    </div>
  </div>
  
  
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="content">content:</label>
    <div class="col-sm-10"> 
      <textarea class="form-control" id="content" ng-model="blogDataToEdit.content"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="category">Category:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="category" ng-model="blogDataToEdit.category">
    </div>
  </div>
  
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg" ng-click="saveEdit()" data-dismiss="modal">Save Edit</button>
    </div>
  </div>
</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="deleteblog" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Blog</h4>
        </div>
        <div class="modal-body">
         <strong >You are about to delete {{blogDataToEdit.blogId}} the blog Are you sure?</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteBlog(blogDataToEdit)">Yes</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
      
    </div>
  </div>
    </div>
    </section>