CHAT PAGE
<body ng-app="Collaboration">
<br>
<br>
<br>
<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    
                    <li>
                        <a href="home" data-toggle="tooltip" data-placement="left" title="GO TO HOME!"><span class="glyphicon glyphicon-home"></span></a>
                    </li>
                </ul>
</div>
<br><br><br><br>

	<div ng-controller="ChatCtrl" class="container">
      <form ng-submit="addMessage()" name="messageForm">
        <input type="text" placeholder="Send a message..." ng-model="message" />
        <div class="info">
          <span class="count" ng-bind="max - message.length" ng-class="{danger: message.length > max}">140</span>
          <br><br>
      
          <button ng-disabled="message.length > max || message.length === 0">Send</button>
        </div>
      </form>
      <hr />
      <p ng-repeat="message in messages | orderBy:'time':true" class="message">
      	<span>{{message.username}}</span>
        <time>{{message.time | date:'HH:mm'}}</time>
        <span ng-class="{self: message.self}">{{message.message}}</span>
      </p>
    </div>
    
    <script src="sockjs/sockjs.min.js" type="text/javascript"></script>
    <script src="stomp-websocket/lib/stomp.min.js" type="text/javascript"></script>
    <script src="angular/angular.min.js"></script>
    <script src="lodash/dist/lodash.min.js"></script>
    <script src="assets/js/app.js" type="text/javascript"></script>
    <script src="assets/js/controllers.js" type="text/javascript"></script>
    <script src="assets/js/services.js" type="text/javascript"></script>
    </body>