<!--  Register Form -->
                        <form>
                            <label>FullName</label>
                            <div class="row margin-bottom-20">
                                <div class="col-md-6 col-md-offset-0">
                                    
    
    <input type="text" class="form-control" name="userFullName" placeholder="userFullName" required="" autofocus=""  ng-model="userFullName"/>
                                    
                                </div>
                            </div>
                            
                            
                             <label>UserName</label>
                            <div class="row margin-bottom-20">
                                <div class="col-md-6 col-md-offset-0">
                                    
    
		<input type="text" class="form-control" name="username" placeholder="username" required="" autofocus=""  ng-model="username"/>
                                    
                                </div>
                            </div>
                            
                            
                             <label>Mobile Number</label>
                            <div class="row margin-bottom-20">
                                <div class="col-md-6 col-md-offset-0">
                                    
    
		<input type="text" class="form-control" name="userPhone" placeholder="userPhone" required="" autofocus=""  ng-model="userPhone"/>
                                    
                                </div>
                            </div>
                            
                            
                            <label>Email
                                <span class="color-red">*</span>
                            </label>
                            <div class="row margin-bottom-20">
                                <div class="col-md-6 col-md-offset-0">
        <input type="email" class="form-control" name="userEmail" placeholder="userEmail" required="" autofocus=""  ng-model="userEmail"/>
                                </div>
                            </div>
                            
                            
                            
                             <label>Password
                                <span class="color-red">*</span>
                            </label>
                            <div class="row margin-bottom-20">
                                <div class="col-md-6 col-md-offset-0">
	 <input type="password" class="form-control" name="password" placeholder="Password" required="" ng-model="password"/>
                                </div>
                            </div>
                            
                            
                            
                            <label>Role
                                <span class="color-red">*</span>
                            </label>
                            <div class="row margin-bottom-20">
                                <div class="col-md-6 col-md-offset-0">
	<input type="text" class="form-control" name="role" placeholder="role" required="" autofocus=""  ng-model="role"/>
                                </div>
                            </div>       
                            <p>
                                <button type="submit" class="btn btn-primary" ng-click="register()">Register</button>
                            </p>
                        </form>
                        <!-- End Register Form -->